<% layout('layouts/boilerplate') -%>
<body>
  <div class="container mt-4">
    <h3 class="mb-4">All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
      <% for (let listing of allListings) { %>
        <div class="col">
          <div class="card h-100">
            <a href="/listings/<%= listing._id %>" class="listing_link" style="text-decoration: none; color: inherit;">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem; object-fit: cover;" />
              <div class="card-body">
                <p class="card-text">
                  <b><%= listing.title %></b><br />
                  &#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> / night
                </p>
              </div>
            </a>
          </div>
        </div>
      <% } %>
    </div>
  </div>
</body>
